@model IntProg.Models.Yonetman

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Yonetman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YonetmenAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YonetmenAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YonetmenMemleket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YonetmenMemleket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YonetmenYas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YonetmenYas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.YonetmenId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
